.cah-wrap {
  position: relative;
  display: inline-block;
}

.cah-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: block;
  overflow: hidden;
}

.cah-overlay .cah-clone {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

